name: Generate GIF (VHS)

on:
  # É melhor rodar quando há mudanças na main (código ou tape)
  push:
    branches:
      - main
    paths:
      - '**.rs'        # Só roda se mudar código Rust
      - 'try-rs.tape'  # Ou se mudar o script do VHS
  
  # Gatilho manual continua útil
  workflow_dispatch:

jobs:
  vhs:
    runs-on: ubuntu-latest
    permissions:
      contents: write # Permissão CRÍTICA para poder fazer push

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          # Importante: busca o histórico completo para evitar problemas de merge/push
          fetch-depth: 0 
      
      # chromium-browser
      - name: Install System Dependencies 
        run: |
          sudo apt-get update
          sudo apt-get install -y ffmpeg libnss3 libxss1 libasound2t64 fish ttyd

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 'stable'

      - name: Install VHS
        run: go install github.com/charmbracelet/vhs@latest

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Build try-rs
        run: cargo build --release

      - name: Run VHS
        # Define explicitamente que este passo deve ser interpretado pelo Fish
        shell: fish {0}
        run: |
          # Sintaxe do Fish para adicionar ao PATH e exportar (-x)
          set -x PATH "$PWD/target/release" $PATH
          
          # Debug para confirmar
          echo "Rodando dentro do Fish!"
          which try-rs
          
          # Executa o VHS
          vhs try-rs.tape

      - name: Commit and Push GIF
        run: |
          git config user.name "Tássio Virginio"
          git config user.email "tassio.virginio@ufba.br"
          
          git add try-rs.gif
          
          # Verifica se o GIF mudou antes de tentar commitar
          if git diff --staged --quiet; then
            echo "⚠️ O GIF gerado é idêntico ao atual. Nada para commitar."
          else
            git commit -m "docs: update demo gif [skip ci]"
            git push
            echo "✅ GIF atualizado no repositório com sucesso!"
          fi
